<div class="container">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
  <div class="login-wrap">
      <p class="login-img white">
          <i class="icon-dlf-logo"></i> <span class="dlf">DLF</span>
      </p>

      <div class="input-group">
          <span class="input-group-addon">
              <i class="glyphicon glyphicon-lock"></i>
          </span>
          <%= f.password_field :password, class: 'form-control', autofocus: true, autocomplete: "off", placeholder: 'New Password' %>
      </div>
      <div class="input-group">
          <span class="input-group-addon">
              <i class="glyphicon glyphicon-lock"></i>
          </span>
          <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off", placeholder: 'Confirm Password' %>
      </div>
    </div>

    <%= f.submit "Change my password", id: 'login-btn', class: "btn btn-primary btn-lg btn-block" %>

  <% end %>
</div>
