<div class="container">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'login-form' }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
  <div class="login-wrap">
      <p class="login-img white">
          <i class="icon-dlf-logo"></i> <span class="dlf">DLF</span>
      </p>

      <div class="input-group">
          <span class="input-group-addon">
              <i class="glyphicon glyphicon-user"></i>
          </span>
          <h2>Change your password</h2>
          <div class="input-group">
              <span class="input-group-addon">
                  <i class="glyphicon glyphicon-lock"></i>
              </span>
              <%= f.password_field :password, class: 'form-control', placeholder: 'New Password', autocomplete: "off" %>
          </div>
      </div>

      <div class="input-group">
          <span class="input-group-addon">
              <i class="glyphicon glyphicon-user"></i>
          </span>
          <h2>Confirm your password</h2>
          <div class="input-group">
              <span class="input-group-addon">
                  <i class="glyphicon glyphicon-lock"></i>
              </span>
              <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm Password', autocomplete: "off" %>
          </div>
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email Address' %>
      </div>

      <%= f.submit "Change My Password", class: "btn btn-primary btn-lg btn-block" %>

  </div>

  <% end %>
</div>
