<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'login-form'}) do |f| %>
    <!-- <form class="login-form" action="index.html"> -->
        <div class="login-wrap">
            <p class="login-img white">
                <i class="icon-dlf-logo"></i> <span class="dlf">DLF</span>
            </p>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
                <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email Address' %>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                </span>
                <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
            </div>
            <div class="text-center">
            <label class="checkbox remember-me">
              <% if devise_mapping.rememberable? -%>
              <div class="col-xs-12">
                      <%= f.check_box :remember_me %>
                          Remember Me
              </div>
              <% end -%>
              </div>
              <%= f.submit "Sign In", id: 'login-btn' class: "btn btn-primary btn-lg btn-block" %>

              <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-info btn-lg btn-block' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'btn btn-success btn-lg btn-block' %>

        </div>
    <% end %>
</div>
