<% @proposals.group_by(&:contribution_type).each do |c_type, proposals| %>
  <section id="<%= c_type.parameterize %>" class="section-header">
    <div class="vertical-center">
      <div class="container">
        <div class="col-sm-12">
          <h1 class="title"><%= c_type %></h1>
          <p class="bumper">
            Choose the sessions you’d like to see as part of the program! Your votes will help to inform the program committee's decisions.
          </p>
        </div>
      </div>
    </div>
  </section>

  <% proposals.each do |proposal| %>
    <div class="row">
      <div class="container">
        <div class="col-md-12">
          <div id="proposal-<%=proposal.id %>" class="proposal">
            <p class="title">
              <%= proposal.title %>
            </p>
            <p class="format">

              <% if !current_user %>
                <%= link_to "Sign In to Vote", new_user_session_path, :class => 'btn btn-primary' %>
              <% elsif( !current_user.nil? && (current_user.voted_for? proposal)) %>
                <%= link_to "Undo Vote", unlike_proposal_path(proposal), remote: :true, method: :put, id: "like_#{proposal.id}", class: 'btn btn-warning'%>
              <% else %>
                <%= link_to "Cast Vote", like_proposal_path(proposal), method: :put, remote: :true, id: "like_#{proposal.id}", class: 'btn btn-info' %>
              <% end %>

              <span class="badge badge-<%= proposal.contribution_format.parameterize %>">
                <%= format_icon(proposal.contribution_format) %>
                <%= proposal.contribution_format %>
              </div>
              <!-- <span class="<%#= proposal.contribution_format.parameterize %>">
                <%#= format_icon(proposal.contribution_format) %>
                <%#= proposal.contribution_format %>
              </span> -->


            </p>
            <%= render 'likes', :proposal => proposal %>

            <p class="abstract">
              <span class="bold">Abstract</span><br/>
              <%= proposal.abstract %>
            </p>
          </div>
        </div>
      </div>

    </div>
  <% end %>
<% end %>
