<%# cache do %>
<div class="row">
    <% @proposals.group_by(&:contribution_type).each do |c_type, proposals| %>
        <section id="<%= c_type.parameterize %>" class="section-header">
            <div class="vertical-center">
                <div class="container">
                    <div class="col-sm-12">
                        <h1 class="title"><%= c_type %></h1>
                        <p class="bumper">
                           Choose the sessions you’d like to see as part of the program!
                       </p>
                    </div>
                </div>
            </div>
        </section>

        <% proposals.each do |proposal| %>
            <div class="row">
                <div class="container">
                    <div class="col-md-12">
                    <div id="proposal-<%=proposal.id %>" class="proposal">
                        <p class="title">
                            <%= proposal.title %>
                        </p>
                        <p class="format <%= proposal.contribution_format.parameterize %>">
                            <%# cache(proposal) do %>
                                <% if( !current_user.nil? && (current_user.voted_for? proposal)) %>
                                    <%= link_to "Undo Vote", like_proposal_path(proposal), method: :put, class: 'btn btn-warning'%>
                                <% else %>
                                    <%= link_to "Cast Vote", like_proposal_path(proposal), method: :put, class: 'btn btn-info' %>
                                <% end %>
                            <%# end %>
                            <%= format_icon(proposal.contribution_format) %>
                            <%= proposal.contribution_format %>
                        </p>

                        <p class="abstract">

                            <span class="bold">Abstract</span><br/>
                            <%= proposal.abstract %>

                        </p>
                    </div>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
</div>
<% #end %>
