<div class="row">
  <div class="container">

    <div class="col-md-12">
      <h1>DLF Proposals</h1>
      <% @proposals.each do |proposal| %>

      <div class="col-md-1">
        <% if(current_user.voted_for? proposal) %>
        <button class="btn btn-success" type="button">
          Votes
          <span class="badge"><%= proposal.get_upvotes.size %></span>
        </button>
      <% else %>
        <button class="btn btn-primary" type="button">
          Votes
          <span class="badge"><%= proposal.get_upvotes.size %></span>
        </button>
        <% end %>
      </div>

      <div class="col-md-11">
        <div id="proposal-<%=proposal.id %>" class="proposal">
          <p class="title">
            <span class="glyphicon glyphicon-collapse-up"></span>
            <%= proposal.title %>
            <% if(current_user.voted_for? proposal) %>
            <%= link_to like_proposal_path(proposal), method: :put, class: 'btn btn-warning' do %>
            Undo Vote
            <% end %>
          <% else %>
            <%= link_to like_proposal_path(proposal), method: :put, class: 'btn btn-info' do %>
            Cast Vote
            <% end %>
            <% end %>
          </p>
          <p class="abstract">
            <!-- TODO: this is just for testing purposes -->
            <span class="bold">Abstract</span><br/>

            <%= proposal.abstract.gsub(/", "/,' ').gsub(/\[\"/,'').gsub(/\"\]/,'') %>
          </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
