<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "DLF Community Voting Platform" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "DLF Community Voting Platform" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://clirdlf.github.io/logo-fonts/style.min.css' %>
    <%= stylesheet_link_tag 'https://clirdlf.github.io/logo-fonts/clir-font/stylesheet.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('clir_logo.png') %>
  </head>

  <body>
    <header class="masthead" id="top">
      <%= render 'layouts/login'%>
      <%= render 'layouts/nav_section' %>
    </header>

    <main role="main">
      <%= render 'layouts/messages' %>

      <%= yield %>

      <a class="top-link hide" href="#top" id="js-top">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6"><path d="M12 6H0l6-6z"/></svg>
        <span class="sr-only sr-only-focusable">Back to top</span>
      </a>

      <!-- <button type="button" id="js-top" class="to-top" >
        <span class="fas fa-chevron-up"></span>
        <span class="sr-only sr-only-focusable">Back to top</span>
      </button> -->

    </main>

    <%= render 'layouts/footer' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9461551-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-9461551-3');
    </script>
  </body>
</html>
