<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= content_for?(:title) ? yield(:title) : "Participatory Voting" %></title>
        <meta name="description" content="<%= content_for?(:description) ? yield(:description) : " Community Voting Platform" %>">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <!-- <header>
            <%#= render 'layouts/header'%>
        </header> -->

        <main role="main">
            <div id="top">
                <%= render 'layouts/messages' %>
                <!-- <button class="expand">Expand all</button> -->
            </div>

            <%= render 'layouts/nav_section' %>

            <%= yield %>

        </main>

        <footer class="section bg-gray">
            <%= render 'layouts/footer' %>
        </footer>
        <button class="to-top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
    </body>
</html>
